@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
    background-color:darkkhaki;
}

nav {
    background-color: khaki;
}

nav > a {
    color:brown;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block
}

nav > a:hover {
    background-color:peru;
}

#logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}