@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
    color:#C0EEF2;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-size: 1000% 150%;
}

nav {
    text-align: center;
}

nav > a {
    color:cornflowerblue;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block
}

nav > a:hover {
    background-color:indigo;
}

.center { text-align: center;}

.links {text-decoration: none;
        color: aqua;
}

.content {
    max-width: 10000px;
    margin: auto;
}

input, textarea {
    background-color:azure;
    border-radius: 9px;
    padding: 8px 10px 10px 12px;
}

input:focus, textarea:focus{
    background-color:aliceblue;
}

.float-right {
    float:right
}

@media screen and (max-width: 403px){
    /* for mobile-phones: */
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

