@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
    color:#C0EEF2;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-size: 100% 400%;
}

nav {
    text-align: center;   
}

.inter {
    text-decoration: underline;
}

nav > a {
    color:mediumslateblue;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block
}

nav > a:hover {
    background-color:indigo;
    padding: 25;
    border-radius: 5px;
}

.center { text-align: center;}

.links {text-decoration: none;
        color:rgb(159, 127, 255);
}

input, textarea {
    border-radius: 9px;
    padding: 8px 10px 10px 12px;
}

input:focus, textarea:focus{
    background-color:aliceblue;
}

.float-right {
    float:right
}

@media only screen and (max-width: 400px){
    /* for mobile-phones: */
}

.content {
    max-width: 700px;
    margin: auto;
}

.foot {
    font-family: 'PT Serif';
}